body {margin: 0;
  width: 100%;
  height: 100%;
}

.menu {margin-top: 0;padding: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  list-style: none;
  justify-content: space-around;
  text-transform: uppercase;
  font-weight: 500;
  font-family: sans-serif;
  color:white;
  background-color: darkblue;height: 25px;align-items: center;
}

.menu  a:hover { color: darkorange;}
a {text-decoration: none;color: white;}

.first {
  
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: relative;align-items: center;}



  .writing {display:flex;
    background: linear-gradient(to bottom right, red, blue, yellow);
  border-radius: 55px;height: 400px;width:400px;
  /*clip-path: polygon(50% 0, 100% 100%, 0% 100% );*/justify-content: center;align-items: center;
}


.pic1 {left:10vw;
  flex: 1;
  position: relative;
  filter: drop-shadow(40px 40px 40px rgba(200, 100, 117, 1));
}
.president {
  clip-path: circle(45%);
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-style: solid;

  width: 50vw;
  height: 100vh;
  color: black;
  background-color: aqua;
  text-transform: uppercase;
  animation-name: move;
  animation-duration: 5s;
}

.small-box {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation-name: growth;
  animation-duration: 5s;
  width: 200px;
  height: 150px;
  border-style: solid;
  color: black;
  border-width: 10px;
}
span {
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, -50%);
}

.btn {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100px;
  background-color: springgreen;
  color: tomato;
  font-weight: 800;
  border-radius: 20px;
  animation-name: roller;
  animation-duration: 2.5s;
  box-shadow: 20px 20px inset teal;
  cursor: pointer;
}

/*.btn:hover {
  background-color: yellow;transform: translateY(-10px);transition-duration: .5s;
}
.btn:active {
  background-color: violet;transform: translateY(-5px);
}
.btn:visited {
  background-color: tan;}*/

.container1 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.star {
  width: 250px;
  height: 250px;
  background-color: orange;
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
  animation-name: dance;
  animation-duration: 5s;
}

@keyframes move {
  from {
    background-color: brown;
  }

  to {
    background-color: coral;
  }
}

@keyframes dance {
  0% {
    opacity: 1;
    background-color: blue;
    transform: translatex(-800px);
  }

  100% {
    opacity: 1;
    color: blue;
    transform: translatex(50px);
  }
}
@keyframes roller {
  0% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
@keyframes growth {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(2);
  }

  50% {
    transform: scale(3);
  }

  100% {
    transform: scale(4);
  }
}
